<select id="CountrySelector">
  {% for country in localization.available_countries %}
    <option value="{{ country.iso_code | escape }}">{{ country.name | escape }}</option>
  {% endfor %}
</select>
